
header {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin: 20px 0 0 15%;
}

header a:link,a:visited {
    color: black;
    text-decoration: none;
}

header a:hover {
    color: #676767;
}